<header class="shadow-md flex items-center gap-3 py-3 px-8 mb-7">
  <img class="logo h-7" src="assets/velocity-template-preview-logo.png" alt="Preview icon" height="28" />
  <h1 class="text-sm font-semibold">Velocity Template Preview</h1>
</header>
<app-editor-and-preview></app-editor-and-preview>
<p class="flex justify-center items-center gap-1 text-muted-foreground text-xs text-center mb-4">
  Made with <hlm-icon name="lucideHeart" size="xs" color="#cc0001"></hlm-icon> by
  <a id="profile-link" class="text-blue-600 hover:underline" href="https://linktr.ee/agilrajayyan" target="_blank">Agil Rajayyan</a>
</p>

<!-- Error toast -->
<hlm-toaster />
