<header>
  <img src="assets/preview.png" alt="Preview icon" height="28" />
  <p>Velocity Template Previewer</p>
</header>
<main class="container">
  <div class="editors-container">
    <div class="editor-header">Velocity Template</div>
    <ngx-monaco-editor
      style="height: 36vh"
      [options]="templateEditorOptions"
      [(ngModel)]="velocityTemplate">
    </ngx-monaco-editor>
    <div class="editor-header">Template Data</div>
    <ngx-monaco-editor
      style="height: 36vh"
      [options]="templateDataEditorOptions"
      [(ngModel)]="templateData">
    </ngx-monaco-editor>
    <button (click)="generatePreview()" class="generate-preview-button active">
      Generate Preview
    </button>
  </div>
  <div class="preview-container">
    <div class="preview-title-container">
      <p>Output</p>
      <div class="action-buttons-container">
        <button (click)="onChangePreviewType('ACTUAL-OUTPUT')" [ngClass]="{ active: previewType === 'ACTUAL-OUTPUT' }">
          Show Preview
        </button>
        <button (click)="onChangePreviewType('HTML')" [ngClass]="{ active: previewType === 'HTML' }">
          Show HTML
        </button>
      </div>
    </div>
    <div #previewContainer class="preview-content" [ngClass]="{ 'html-preview': previewType === 'HTML' }"></div>
  </div>
</main>
