html, body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  overflow: hidden;
}

.monaco-editor,
.overflow-guard {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

button {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ccc;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;

  &.active {
    background-color: #18181b;
    color: #fff;
  }
}
